$accent: #fe3e57;
$default: #29282d;
$paragraf: #8d8d8d;


%quicksand-500 {
    font-family: 'Quicksand-Medium', sans-serif;
    font-style: normal;
}
%quicksand-400 {
    font-family: 'Quicksand-Regular', sans-serif;
    font-style: normal;
}

%roboto-400 {
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
}
%roboto-700 {
    font-family: 'Roboto-Bold', sans-serif;
    font-style: normal;
}
